*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body,#root,.app{
    width: 100%;
    height: 100%;
}
.app{
    display: flex;
    flex-direction: column;
}
.list{
    flex: 1;
    overflow-y: auto;
    padding: 0 10px;
}
.bottom{
    height: 100px;
    padding: 10px;
}
.bottom p{
    height: 40px;
    text-align: center;
}
.bottom p b{
    color:rgb(238, 52, 207);
}
.bottom button{
    width: 100%;
    height: 40px;
    background: rgb(238, 52, 207);
    border: none;
    color: #fff;
}